body {
    background: red !important;
}

* {
    box-sizing: border-box;
}


body {

    margin: 0;

    min-height: 100vh;

    background:
        linear-gradient(
            135deg,
            #120018,
            #26003b
        );

    color: #ffffff;

    font-family:
        Arial,
        Helvetica,
        sans-serif;

}


/* Header */

header {

    text-align: center;

    padding: 40px 20px;

}


header h1 {

    font-size: 42px;

    margin-bottom: 10px;

    color: #c86cff;

    text-shadow:
        0 0 10px #8a2be2;

}


header p {

    color: #d8c7ff;

    font-size: 18px;

}



/* Main card */

.card {

    width: min(90%, 450px);

    margin: auto;

    padding: 25px;

    background:

        rgba(
            20,
            10,
            35,
            0.9
        );


    border:

        2px solid

        #7b2cff;


    border-radius: 18px;


    box-shadow:

        0 0 25px

        rgba(
            123,
            44,
            255,
            .35
        );


}



/* Text */

h2 {

    color: #e4c8ff;

}


/* Inputs */

label {

    display: block;

    margin-top: 15px;

    color: #d8c7ff;

}


input {

    width: 100%;

    padding: 12px;

    margin-top: 5px;


    background: #100018;

    color: white;


    border:

        1px solid

        #8a2be2;


    border-radius: 8px;


    font-size: 16px;

}



input:focus {

    outline: none;

    border-color: #ff7cff;

    box-shadow:

        0 0 8px

        #ff7cff;

}



/* Button */

button {

    width: 100%;

    margin-top: 25px;


    padding: 14px;


    background:

        linear-gradient(
            90deg,
            #7b2cff,
            #c86cff
        );


    color: white;


    border: none;


    border-radius: 10px;


    font-size: 18px;


    cursor: pointer;


    transition: .2s;

}


button:hover {

    transform: scale(1.03);

    box-shadow:

        0 0 15px

        #c86cff;

}



/* Output */

#output {

    width: min(90%, 600px);

    margin:

        30px

        auto;


    padding: 20px;


    background:

        rgba(
            20,
            10,
            35,
            .85
        );


    border-radius: 15px;

}
